<div attrs="data.rootAttrs" w-bind>

    <button attrs="data.rootAttrs" w-onclick="addSearchItems">
        Add more
    </button>

    <div>Last updated: ${Date.now()}</div>
    <div w-id="searchItems" w-preserve-body></div>

</div>