
<span w-bind>
        <b>${data.topic}:&nbsp;</b>
        <a href="#">$data.text</a>
        <span>&nbsp;(refreshed: ${data.ts})</span>
        <span w-onclick="handleRefresh">&nbsp;Refresh!)</spa>
</span>